<p>You may grant &quot;View/Download&quot; or &quot;Edit&quot; access for specific users and/or groups to files.
  Enter a valid ERA / CCID account ID, one at a time, select the access level for that user and click
  <button class='btn btn-xs btn-inverse' onclick='return false;'><i class='glyphicon glyphicon-plus' ></i>Add</button>.
</p>

