<p>

<span class='label label-success'>Open Access</span> will allow your content to be discovered in Google and viewed by anyone.
</p>
<span class='label label-warning'>Embargo</span> will restrict access to your file for a period of time before allowing it to be viewed by anyone or viewed by <%=t('sufia.institution_name') %> users.
</p>
<p>
  <span class='label label-info'><%=t('sufia.institution_name') %></span> will only allow
  users with a <%=t('sufia.institution_name') %> CCID and password to view the content.
</p>
<p>
<span class='label label-danger'>Private</span> will only allow users and/or groups to whom you give access in the &quot;Share With&quot; section to view the content.
</p>

