<%# container for all documents in index view -%>
<div id="search-results">
  <ol class="catalog" start="<%= document_counter_with_offset(0) %>">
    <%= render @member_docs, as: :document %>
  </ol>
</div>
