<% record.contributor.each do |contributor| %>
  <span itemprop="contributor" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name"><%= link_to_facet(contributor, Solrizer.solr_name("contributor", :facetable)) %></span>
  </span>
  <br />
<% end %>

