<% unless record.license.nil? || record.license == "I am required to use/link to a publisher's license" %>
  <% if linkable?(record.license) %>
    <%=link_to(Sufia.config.cc_licenses_reverse[record.license], record.license)%> <br />
  <% else %>
    <span itemprop="license"><%= record.license %></span><br />
  <% end %>
<% end %>
