<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="form-group">
    <%= label_tag key, "#{field_def.label }:", class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <% if field_def.label == "Item Type" %>
        <%=select_tag key, options_for_select(Sufia.config.admin_resource_types), {class: 'form-control', include_blank: true} %>
      <% elsif field_def.label == "Language" %>
        <%=select_tag key, options_for_select(Sufia.config.languages), {class: 'form-control', include_blank: true} %> 
      <% else %>
        <%= text_field_tag key, label_tag_default_for(key), class: 'form-control' %>
      <% end %>
    </div>
  </div>
<%- end -%>
