<div class="about">
<h1>ERA Technology and Partnerships</h1> 

<p>ERA builds on the technology framework called <a href="http://projecthydra.org/">Hydra</a>, a well supported community based approach to digital repository and archiving services. As the 
	<%= image_tag "hydra-logo.png", :class => "right-aligned" %> Hydra motto goes, “If You Want To Go Fast, Go Alone. If You Want To Go Far, Go Together.”</p>

<p>UAL is an active development partner on Hydra, which utilizes Fedora and Blacklight within a Ruby on Rails development framework (all open source). Hydra represents what happens when a broad, highly-skilled <a href="http://projecthydra.org/community-2-2/">professional community</a> decides to work together. Leveraging the Hydra community to support core infrastructure (the body) creates space for us to invest our time into exploring new areas of interest (Hydra heads), while in turn making those contributions available to others in the community. The more we work together, the more we all benefit. UAL’s code for our Hydra implementation is available on <a href="https://github.com/ualbertalib/HydraNorth">GitHub</a>.</p>

</div>