<h1>University of Alberta ERA Deposit Agreement</h1>

<p>
In order for ERA to reproduce, translate and distribute your submission in accordance with the specific terms of access you will indicate, your agreement to the following general license terms is necessary. Please take a moment to read the terms of this license, and click on one of the buttons at the bottom of this page. By clicking on the “Grant License” button, you indicate that you agree to the following terms of the license.
</p>

<p>
ERA Distribution License
</p>

<p>
By signing and submitting this license, you (the author or copyright right owner or designate) grants to the University of Alberta the non-exclusive rights to reproduce, translate (as defined below), and/or distribute your submission (including the abstract) worldwide in print and electronic format and in any medium, including but not limited to audio or video.  Access to your submission via ERA will be governed by the specific terms (Creative Commons, etc.) you indicate, and you will remain free to revise these terms of access.
</p>

<p>
You agree that the University of Alberta may, without changing the content, translate the submission to any medium or format for the purpose of preservation. 
</p>

<p>
You also agree that the University of Alberta may keep more than one copy of this submission for purposes of security, backup and preservation.
</p>

<p>
You represent and warrant the the submission is your original work and/or that you have the right to grant the rights contained in the license. You also represent that your submission does not, to the best of your knowledge, infringe upon anyone’s copyright.
</p>

<p>
If the submission contains material for which you do not hold copyright, you represent that you have obtained the unrestricted permission of the copyright owner to grant the University of Alberta the rights required by this license, and that such third-party owned material is clearly identified and acknowledged within the text of content of the submission.
</p>

<p>
IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED BY AN AGENCY OR ORGANIZATION OTHER THAN THE UNIVERSITY OF ALBERTA, YOU REPRESENT THAT YOU HAVE FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY THE AGREEMENT WITH SUCH SPONSOR.
</p>

<p>
The University of Alberta will clearly identify your name(s) as the author(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.
</p>

<p>
If you have questions about this agreement please contact the Digital Repository Services Librarian at <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>
</p>

<p>
For help with selecting a terms of use license, see <a href="http://creativecommons.org/choose/">http://creativecommons.org/choose/</a> or contact the Digital Repository Services Librarian at <a href="mailto:erahelp@ualberta.ca">erahelp@ualberta.ca</a>
</p>
