<h1>User Support</h1>
 <h2>How to search</h2>
  <div class="search-info">
    <div class="sample-searches">
      <h4>Sample Searches</h4>
      <dl>
        <dt>phrase:</dt>
        <dd><b>"rocky mountains"</b></dd>
        <dt>OR:</dt>
        <dd><b>horse dog</b> or <b>horse OR dog</b>(upper case)</dd>
        <dt>AND:</dt>
        <dd><b>+horse +dog</b> or <b>horse AND dog</b></dd>
        <dt>NOT:</dt>
        <dd><b>horse -dog</b> or <b>horse NOT dog</b></dd>
        <dt>nested:</dt>
        <dd><b>(horse OR dog) AND cat</b></dd>
      </dl>
    </div>
  </div>
