
<% if has_facet_values? %>
	<h2>Browse ERA</h2>
 		<div class="browse">
 			<div class="row">
 			<%= render_facet_partials %>
			</div>
		</div>
<% end %>
<a href="/communities" class="btn btn-primary">View Communities</a>