
<h4>Special File Types</h4>
  	<p><%= radio_button_tag :resource_type, 'null', :checked=>'checked' %> I <strong>am not</strong> uploading a <em>Computing Science Technical Report</em> or a <em>Structural Engineering Report</em>. </p>
  	<p><%= radio_button_tag :resource_type, 'Computing Science Technical Report' %> I <strong>am</strong> uploading a <em>Computing Science Technical Report</em></p>
  	<p><%= radio_button_tag :resource_type, 'Structural Engineering Report' %> I <strong>am</strong> uploading a <em>Structural Engineering Report</em></p>


