
     <div class="footer dark containter-fluid">
        <div class="container">
     	<div class="row">
       <div class="col-sm-4 hidden-xs">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="/users/sign_in">Login</a></li>
				<li><a href="/browse">Browse</a></li>
				<li><a href="/advanced">Search</a></li>
                <li><a href="/files/new">Share Your Research</a></li>
            </ul>
        </div>
        <div class="col-sm-4 hidden-xs">
            <h2>Policies</h2>
            <ul>
                <li><a href="http://guides.library.ualberta.ca/content.php?pid=87240&sid=648953">Content Policy</a></li>
                <li><a href="http://guides.library.ualberta.ca/content.php?pid=87240&sid=648953">Mediated Deposit</a></li>
				<li><a href="http://guides.library.ualberta.ca/content.php?pid=87240&sid=648953">Metadata Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h2>Get Help</h2>
            <ul>
                <li><a href="http://guides.library.ualberta.ca/content.php?pid=87240&sid=648971">How to Deposit?</a></li>
                <li><a href="http://guides.library.ualberta.ca/content.php?pid=87240&sid=648971">FAQ</a></li>
                <li><a href="https://docs.google.com/a/ualberta.ca/forms/d/1ZXZ2-TUVtsX06m3Ffw1K0Lv0kgLw6bghWqTHx8D1-q4/viewform">Contact Us</a></li>
            </ul>
        </div>
    </div>
        <div class="row copyright">&copy; <a href="https://library.ualberta.ca">University of Alberta Libraries</a> | University of Alberta, Edmonton, AB, Canada T6G 2R3 | Web Site Privacy Policy
</div>
</div>
</div>
  
