 <div class="row">
 <form accept-charset="UTF-8" action="/catalog" id="search-form-header" method="get" role="search" class="form-inline">
          <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
<div class="form-group">
          <div class="col-xs-7">
            <input type="text" class="form-control input-lg q query" id="search-field-header" name="q" placeholder="enter search terms" autofocus="autofocus">
          </div>
          <div class="query-actions col-xs-5">
            <button type="submit" class="call-to-action" id="query-button">Search <span class="hidden-sm">ERA</span></button>
            <a href="/advanced" class="advanced">Advanced <span class="hidden-sm">Search</span></a>
        </div></div>
        </form>
       </div> 
        <div class="row">
          <div class="col-md-12 more-info" id="browse">
           <h4>Browse <a href="browse">collections</a>, <a href="browse">subjects</a>, or <a href="browse">item types</a></h4>
          </div>
        </div>