<div id="masthead" class="container">


  <div class="lib-logo col-md-3">
  	<%= link_to "", "https://library.ualberta.ca", :class => 'logo' %>
    </div>
    <div class="mast-branding col-md-6">

      <h2>education &amp; research archive</h2>
      <h1><a href="/">ERA</a></h1>
      
      <ul>
        <li><a href="/">home</a></li>
      	<li><a href="/browse">browse</a></li>
      	<li><a href="/advanced">search</a></li>
      	<li><a href="/files/new">share your research</a></li>
      	<li><a href="/contact">contact</a></li>




    </div>
<div class="col-md-3">
 <form accept-charset="UTF-8" action="/catalog" id="search-form-header" method="get" role="search" class="form-inline">
          <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>

          <div class="form-group">
            <input type="text" class="form-control q" id="search-field-header" name="q" placeholder="enter search terms">
          </div>
          <button type="submit" class="mast-search">Search ERA</button>
        </form>
  <div class="col-md-12 user-util">
         <%= render partial: "/user_util_links"%>
        </div>
    </div>
  </div>

