 <form accept-charset="UTF-8" action="/catalog" id="search-form-header" method="get" role="search" class="form-inline">
          <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>

          <div class="form-group">
            <input type="text" class="form-control input-lg q query" id="search-field-header" name="q" placeholder="enter search terms" autofocus="autofocus">
          </div>
          <button type="submit" class="call-to-action">Search ERA</button>
        </form>
        <a href="/advanced" class="advanced">Advanced Search</a>
        <div class="row">
          <div class="col-md-12 more-info" id="browse">
           <h4>Or browse <a href="#">Collections</a>, <a href="#">Subjects</a>, <a href="#">Communities</a>, or <a href="#">formats</a></h4>
          </div>
        </div>